html,body{
    margin: 0;
    padding: 0;
}

.customButton {
    width:200px;
    height:60px;
    background-color: #416107;
    border: 3px solid rgb(36, 31, 31);
    color: 000000;
    border-radius: 15px;
    text-align: center;
    font-size: 30px;
    font-family: vollkorn;
  }

.fuentePregunta {
    font-family: "Helvetica Neue";
}